
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');
h1{
  font-family: 'Dancing Script', cursive;
}






h3{
    padding-left: 20px;
    padding-top: 0px;
}
p3{
    padding-left: 25px;
    padding-bottom: 20px;
}
h3{
     padding-top: 0px;
    font-size: 1.8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p3{
    font-size: 20;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 0px;
    padding-bottom: 20px;
    

}
.division1 {
    color: #fff;
    height: 70px;
    background-color: #1B263B;
    width: 98vw;
    margin-top: 0px;
    display: flex;
    flex-direction:row;
    margin-bottom: 0px;
}

 .container{
    display: flex;
    flex-direction: column;
    background-color: #1B263B ;
    width: 98vw;
    margin-bottom: 0px;
}
.menu-bar{
    display: flex;
    width: 200px;
    padding-left: 73.7vw;
}
.menu-bar ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 18px;
}
/* .menu-bar li{
    margin-right: 20px;
} */
.menu-bar a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: flex;
    padding-left: 20px;
}

.division{
    margin-top: 0px;
    text-align: center;
    object-fit: contain;
    object-position: center;
    width: 98vw;
    height:100%;
    background-color: aliceblue;
    background-size: cover;
    background-position: 20%;

}

h1{
    font-size: 6rem;
    
    padding-top: 120px;
    text-shadow: 20px;

    
}
p1{
    font-size: 2vw;
    text-decoration:overline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
.about{
    font-size: 1.5vw;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    
}
h2{
    font-size: 3vw;
    text-decoration: underline;
}
.last{
    margin-top: 10px;
    /* padding: 20px; */
    width: 98vw;
    height: 100%;
    background-color: #1B263B;
    color: white;
    display: flex;
    flex-direction: row;
}
.logo{
    height: 200px;
    width: 200px;
    margin-left: 30vw;
    margin-top: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
}
p2{
    margin: 20px;
}
.logo1{
    margin-left: 1vw;
    margin-top: 30px;
    height: 80px;
    width: 80px;
    object-fit: cover;
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: 10px;
  }
  .up{
    gap: 10px;
  }
  .heading{
    background-image: url('jerry-zhang-Y8lCoTRgHPE-unsplash.jpg');
    height: 80vh;
    background-position: 70%;
    object-fit: cover;
    background-size: cover;
  }
  
